# Generic ignore rules
node_modules
.env
.DS_Store
/tmp

# Backend ignore rules
backend/.bundle
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
backend/reports/*
backend/log/*
!backend/log/.keep
backend/config/application.yml