# This is an example for development.
# DO NOT USE in production
version: "3.3"
services:
  proxy:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
    links:
      - app
      - api

  app:
    build: ./frontend
    container_name: botnbot_app
    command: npm run dev
    volumes:
      - ./frontend/src:/myapp/src
    links:
      - api
    environment:
      - API=http://api:3000
    ports:
      - "8081:8081"

  api:
    build: ./backend
    container_name: botnbot_api
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./backend:/myapp
    links:
      - db
      - influx
      - mail
    environment:
      - DB_HOST=${DB_HOST-db}
      - DB_NAME=${DB_NAME-botnbot}
      - DB_USERNAME=${DB_USERNAME-root}
      - DB_PASSWORD=${DB_PASSWORD-root}
      - FACEBOOK_KEY=${FACEBOOK_KEY}
      - FACEBOOK_SECRET=${FACEBOOK_SECRET}
      - GITHUB_KEY=${GITHUB_KEY}
      - GITHUB_SECRET=${GITHUB_SECRET}
      - GOOGLE_KEY=${GOOGLE_KEY}
      - GOOGLE_SECRET=${GOOGLE_SECRET}
      - HTTP_HOST=${HTTP_HOST-localhost}
      - HTTP_PORT=${HTTP_PORT-8080}
      - HTTP_PROTOCOL=${HTTP_PROTOCOL-http}
      - INFLUXDB_HOST=${INFLUXDB_HOST-influx}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE-botnbot}
      - INFLUXDB_USER=${INFLUXDB_USER-root}
      - INFLUXDB_PASSWORD=${INFLUXDB_USER-root}
      - PROBES=[{ "name":"local", "host":"probe", "port":3000, "token":"no token" }]
      - PUSH_SUBJECT=${PUSH_SUBJECT}
      - PUSH_PUBLIC_KEY=${PUSH_PUBLIC_KEY}
      - PUSH_PRIVATE_KEY=${PUSH_PRIVATE_KEY}
      - RAILS_ENV=${RAILS_ENV-development}
      - SECRET_TOKEN=${SECRET_TOKEN-rails_secret_token}
      - SMTP_HOST=${SMTP_HOST-mail}
      - SMTP_PORT=${SMTP_PORT-25}
      - STRIPE_PUBLIC_KEY=${STRIPE_PUBLIC_KEY}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_PLANS=${STRIPE_PLANS}
      - STRIPE_SUCCESS_URL=${STRIPE_SUCCESS_URL}
      - STRIPE_ERROR_URL=${STRIPE_ERROR_URL}
      - STRIPE_WH_SECRET=${STRIPE_WH_SECRET}
      - STRIPE_WH_PATH=${STRIPE_WH_PATH}

  db:
    image: mariadb:10.5
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_NAME-botnbot}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD-root}

  influx:
    image: influxdb:1.8
    volumes:
      - ./docker/influxdb:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=${INFLUXDB_DATABASE-botnbot}

  mail:
    image: djfarrelly/maildev
    ports:
      - "8082:80"

  admin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8083:80"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD-root}
    links:
      - db

  probe:
    build: ./probe
    container_name: botnbot_probe
    cap_add:
      - ALL
    shm_size: 1G
    volumes:
      - ./probe:/home/chrome/bnb_probe
    ports:
      - "3333:3000"

