<h1 style="font-size:30px;font-weight:bold;color:#212121">Password Reset</h1>

<p>Hello <%= @resource.email %>!</p>

<p style="text-align:left">Someone has requested a link to change your password. You can do this through the button below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, redirect_url: message['redirect-url'].to_s), style: 'border-style: solid;
    border-color: #0d47a1;
    border-width: 10px 20px 10px 20px;
    display: inline-block;
    background: #0d47a1;
    border-radius: 5px;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    text-decoration: none;
    width: auto;
    text-align: center;' %></p>

<p style="text-align:left">If you didn't request this, please ignore this email or let us known. Your password won't change until you access the link above and create a new one.</p>
