<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="margin:0;padding:0;color:#212121;font-family:'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;font-size:14px;line-height:1.429;letter-spacing:0.001em;background-color:#fff;">
    <%= yield %>
  </body>
</html>
